<label class="text-white text-uppercase" for="{{ name }}">{{ label }}</label>
{% if type == "textarea" %}
  <textarea name="{{ name }}" rows="6"></textarea>
{% else %}
  <input type="{{ type }}" name="{{ name }}">
{% endif %}
