<nav class="navbar navbar-expand-md {{ darkTheme ? 'navbar-dark bg-dark' : 'navbar-light bg-light' }}">
	<div class="container-fluid">
		{% if logoImage %}
			<img src="{{ logoImage }}" alt="Logo">
		{% else %}
			<a class="navbar-brand" href="#">{{ siteTitle }}</a>
		{% endif %}

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% for item in menuData %}
					<li class="nav-item">
						<a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</nav>
